@import url('https://fonts.googleapis.com/css2?family=Radio+Canada&family=Roboto&family=Rubik&display=swap');
/*importando fontes via Google Fonts*/

* {    
	margin: 0;
	padding: 0;
	font-family: 'Radio Canada', sans-serif;

/*zerando margins e paddings e selecionando a fonte para o site inteiro*/
}


/*telefones acima da navbar*/
.phone{
    width: 100%;
    background-color: #020085;
	height: 15px;
    display: flex;
    justify-content: flex-end;
	align-items: center;
   
}
.phone p{
    color: white;
    margin-right: 17%;
    font-size: 10px;

}

/*conteudo da nav-submenu*/
.container{
    width: 100%;
    max-width: 1140px;
    height: 60px;
	margin: 25px 75px 2px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.toggle,
[id^=drop] {
	display: none; /*seletor de ids*/
}

nav { 
	z-index: 1;
    margin-top: 15px;
    width: 100%;
    height: 60px;
    background-color: #ffffff;	  
}

/*estilizaçao da logo*/
.logo{
	margin: -1px -15px 5px;
}

.logo img {
    width: 35%;
	margin-bottom: 15px;
	margin-left: 85px;
	cursor: pointer;	
}
/*estilizaçao da logo*/

nav ul {
	list-style: none;
    position: relative;
    margin: 0;
    padding: 0;
	
	
}
	
nav ul li {
    margin: 0px;
    display:inline-block;
    float: left;
    background-color: #ffffff;
	z-index: 1;

}

nav a {
    display: flex;
    align-items: center;
    height: 60px;
    padding: 0 15px;	
	color:#7a7a7a;
	font-size: 17px;
    text-decoration:none;
    text-transform: uppercase;
	
}

/*efeito hover*/
nav ul li ul li:hover { 
background: #020085;

}
nav a:hover { 
	background-color: #020085; 
	color: white;
	
}

nav ul ul {
	display: none;
	position: absolute; 
	top: 60px; 
}
	
nav ul li:hover > ul {
	display:inherit;
	
	
}
	
nav ul ul li {
	width:170px;
	float:none;
	display:list-item;
	position: relative;
	background-color: #020085; 
	
	
}

nav ul ul ul li {
	position: relative;
	top:-60px;
	left:170px; 
	
}

/*slider*/
.slide{
	display: flex;
    justify-content: center;
    align-items: center;
	margin-top: 0px;
	z-index: 0;
	background-color: #858585;
}

#slide {
    width: 894px;
    height: 290px;
    position: relative;
}
#slide img{
    opacity: 0;

    position: absolute;

    width: 100%;
    height: 100%;

    object-fit: cover;

    transition: opacity 800ms;
}
#slide img.selected { 
    opacity: 1;
}
/*slider*/


/*texto e imagem*/
.text-image {
	display: flex;
	justify-content: space-around;
	margin-top: 10px;
	color: #7a7a7a;
	text-transform: uppercase;
  }

#text-image{
	width: 45%;
}
  .text-image img{
	  width: 65%;
	  margin-bottom: 10px;
	  margin-top: 5px;
	  border-radius: 5px;
	
  }

  /*estilizando efeito typerwriter*/
  .typewriter {
    width: 70%;  
    padding-left: 17%;
    padding-top: 5%;
	margin-left: 30px;
}
.typewriter h2{
	margin-bottom: 10px;
	font-size: 35px;
	color: #858585;
	margin-top: 20px;
}
.typewriter h3{
	margin-top: 25px;
}
/*texto e imagem*/


/*etapas de um projeto*/
.feed{
    display: flex;
    justify-content: space-evenly;
	margin: 50px 13% 11%;
	margin-bottom: 20px;

  }

 .feed img{
    border-radius: 6px;
     cursor: pointer;
    
  }
 #text-h2{
	text-transform: uppercase;
    color: #7a7a7a;
    padding-left: 16%;
    margin-top: 55px;
}
/*etapas de um projeto*/


/*etapas de um projeto - legendas com efeito hover*/
  .hoverwrap0 {
	position: relative;
	max-width: 500px;   
	margin-left: -20px;
	text-transform: uppercase;
  }
  
  .hoverwrap0 img { 
	  width: 100%; 
	  box-shadow: 1px 1px 22px #000000;
	  margin-bottom: 25px;

}
  
  /*legendas com efeito hover*/
  .hovercap0 {
	box-sizing: border-box;
	width: 100%;
	padding: 10px;
	position: absolute;
	bottom: 30px; left: 1px; 
	background-color: #000000a2;
	color: white;
	font-size: 18px;
  }
  .hovercap0 {
	visibility: none; opacity: 0;
	transition: opacity 0.4s;
  }
  .hoverwrap0:hover .hovercap0 {
	visibility: visible; opacity: 1;
	
  }  
/*etapas de um projeto*/

/*rodapé*/ 
.rodapé ul{ 
	display: flex; 
	justify-content: space-evenly; 
	list-style: none; 
	color: #b4b4b4; 
	text-transform: uppercase; 
	padding: 20px; 
	margin: 0% 30% 0% 30%;
   } 
   .rodapé h1{ 
	color: #b4b4b4; 
	text-transform: uppercase; 
	text-align: center; 
	margin-top: 75px; 
	
   } 
   .rodapé { 
	background-color: #444444; 
	height: 210px; 
	 
   } 
   /*rodapé*/

/*responsivo*/
/*essa linha de codigo basicamente te da
a opçao de ajustar o tamanho dos elementos quando o tamanho atingir
768px como na linha abaixo, mas voce pode escolher outros tamanhos
e entao selecionar os elementos e ajustar o tamanho deles
de acordo com a tela que escolheu*/
@media all and (max-width : 977px) {
    .container{
        display: block;
		height: 60px;
		margin: 1px 1px 5px 5px;	
		width: 100%;	
	}

	.logo img {
        float: left;
        display: flex;
        align-items: center;
        padding: 0px;
        height: 60px;
    }
    .btn-menu{
        float: right;
        cursor: pointer;
        height: 50px;
        padding: 0 15px;
        display: flex;
        align-items: center;
		margin-top: 1px;
		margin-right: 55px;	
    }
	nav {
		margin: 0;
	}

	.toggle + a,.menu {
		display: none;
		margin-left: 0px;
	}
	.toggle {
        display: flex;
        align-items: center;
		background-color: #020085;
		color:#FFF;
		font-size: 17px;
		text-decoration:none;
        border:none;
        padding: 0 15px;
        height: 60px;
	}
	.toggle:hover {
		background-color: #020085;
	}
	[id^=drop]:checked + ul {  /*seletor de ids*/
		display: block;
	}

	nav ul li {
		display: block;
		width: 100%;
		}
	nav a:hover,
 	nav ul ul ul a {
		background-color: #020085;
	}
  
	nav ul li ul li .toggle,
	nav ul ul a,
    nav ul ul ul a{	
		color:#FFF;
		font-size: 17px; 
	} 
	nav ul li ul li .toggle,
	nav ul ul a {
		background-color: #020085; 
	}
	nav ul ul {
		float: none;
		position:static;
		color: #ffffff;
	}	
	nav ul ul li:hover > ul,
	nav ul li:hover > ul {
		display: none;
	}	
	nav ul ul li {
		display: block;
		width: 100%;
	}
	nav ul ul ul li {
		position: static;
	}
	.typewriter h2{
		font-size: 15px;
		padding: 0px;
	}
	.typewriter h3{
		font-size: 15px;
		padding: 1px;
		
	}
	.text-image {
		justify-content: space-around;
		margin-top: 10px;
		color: #7a7a7a;
		text-transform: uppercase;
	  } 
	.text-image img{
		width: 50%;
		margin: 0px 40px 0px 100px
	}
	.feed{
		display: grid;
		margin: 50px 11% 11%;
		margin-bottom: 20px;
	  }
	  #text-h2{
		text-transform: uppercase;
		color: #7a7a7a;
		text-align: center;
		margin-top: 55px;
		padding: 0;
	}
	.slide{
		display: flex;
		width: 100%;
		justify-content: space-around;
		align-items: center;
		margin-top: 0px;
		z-index: 0;
		background-color: #858585;
	}
	.hoverwrap0 {
		position: relative;

		text-transform: uppercase;
	}
	.rodapé ul{
		display: flex;
		justify-content: space-evenly;
		list-style: none;
		color: #b4b4b4;
		text-transform: uppercase;
		padding: 5px;
		margin: 1px 10px 60px;
	}
	
}
/*basicamente é refazer o site mas selecionado elementos
especificos e ajustando para que fique responsivo
nao precisa usar todos os elementos, basta usar os elementos
"pai" que tudo se altera automaticamente*/